extends layout

block content
  h1= title
  p Welcome to #{title}
  .container
    .row
      .col-sm.col
        .card
          .card-body
            h4.card-title.text-center Oscar Gustafsson
            p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quae officia, iure corrupti reiciendis totam provident quasi ut adipisci voluptatum veritatis nulla itaque. Animi tempora, aliquam voluptatum expedita numquam adipisci.
            a.card-link(href='#') Link
            a.card-link(href='#') Link
      .col-sm
        .card
          .card-body
            h4.card-title.text-center Adam Pousette
            p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente expedita tempora et blanditiis, ullam, veritatis eos illum maiores nemo id voluptatum officiis praesentium! Quam facilis adipisci expedita labore ad nam.
            a.card-link(href='#') Link
            a.card-link(href='#') Link
      .col-sm
        .card
          .card-body
            h4.card-title.text-center Kasiem Saeed
            p.card-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima modi, temporibus facere delectus maiores, repudiandae, dolores qui et nostrum doloribus optio. Nihil ducimus rem distinctio nisi quibusdam necessitatibus dolorum aperiam.
            a.card-link(href='#') Link
            a.card-link(href='#') Link